* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 5px;
}

#mainDiv {
    width: 525px;
    height: 325px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#mainImg{
    width: 100%;
    height: 100%;
}

#thumbnails{    
    width: 1000px;
    display: block;
    margin: 0 auto;
} 
